.adam{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 80px;
    background-image: url(../image/adam.webp);
    background-size: cover;
}
.gbemidebe{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 80px;
    background-image: url(../image/gbemidebe.webp);
    background-size: cover;
}
.izzgoing{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 80px;
    background-image: url(../image/izz\ going.webp);
    background-size: cover;
}
.lol{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 80px;
    background-image: url(../image/lol.webp);
    background-size: cover;
}
.otilor{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 80px;
    background-image: url(../image/otilor.webp);
    background-size: cover;
}
.tesla{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 80px;
    background-image: url(../image/tesla.webp);
    background-size: cover;
}
.tomandjerry{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 80px;
    background-image: url(../image/tom\ and\ jerry.webp);
    background-size: cover;
}
.trabaye{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 80px;
    background-image: url(../image/trabaye.webp);
    background-size: cover;
}




















